html,body{
  height: 100vh;
  width:100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:  INTER, sans-serif;
}

#root{
  height: 100vh;
}


@media (max-width: 400px) {
  .div-footer{
    height:468px ;
  }
  .div-footer > div.upper{
    gap: 30px;
  }
  .div-footer > div.upper > div{
    width: 90px;
  }

  /* .serach-card{

  } */
  .search-result .serach-inner input{
    width: 250px;
    border: 1px solid black;
    border-radius: 2px;
  }
  .Please-Search{
    height: 162px;
  }
  .login-form , .Signup-form ,.forgot-form{
    box-shadow: 0px 0px 60px rgba(180, 177, 177, 0.6);
    width: 90%;
  }
  .Signup-form{
    height: 630px;
  }  

  .card .cart-2 h3{
    font-size: 15.8px;
  }
  .Home-body .card {
    height: 490px;
  }
  
  .product-cart{
    display: flex;
    flex-direction: column;
  }
  .product-cart > div:nth-child(1){
    width: 97%;
  }
  .product-cart > div:nth-child(2){
    padding: 20px;
    width: 90%;
  }
  .cart-product-card img{
    width:50px;
  }
  .cart-product-card h2{
    font-size: 10px;
  }
  .product-cart > div:nth-child(1) h3{
    font-size: 12px;
    width: 70px;
  }
  .product-cart > div:nth-child(1) h3 span{
    font-size: 9px;
  }
  .Pack-of{
    width: 74px;
    height: 27px;
  }
  .Profile{
    display: flex;
    flex-direction: column;
  }
  .Profile-Form{
    width: 90%;
    margin: 15px auto;
  }
  .Profile-address{
    width: 90%;
    margin: 15px auto;
  }
  .Profile-address input{
    width:46%;
  }
  .order-detls{
    /* display: flex; */
  }
  .order-details div:nth-child(1) img{
    width: 70px;
  }
  .Cancel-Order{
    width: 82px;
    letter-spacing: 0.5px;
    font-size: 10px;
    padding: 9px 5px;
    margin-left: 66.5%;
  }
  .order-details > div:nth-child(2) > h4{
    margin-top: 20px;
    width: 200px;
  }
  .order-details > div:nth-child(2) > h5{
    width: 200px;
  }
  .Order-status {
    width: 370px;
    display: none;
  }
  .order-container{
    margin: 0;
    box-shadow:none;
  }
  .NavBar img {
    width: 120px;
    margin-left: 12px;
  }
  .NavBar .div-2 {
    width: 165px;
  }
  .card .cart-2 h3{
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .login-form div img{
    width: 0px;
  }
  .login-form{
    width: 95%;
  }
}

@media (max-width: 740px) {
  .login-form div img,.Signup-form div img,.forgot-form div img{
    width: 200px;
  }
  .login-form,.Signup-form,.forgot-form{
    width: 95%;
  }
}