.Signup-form{
    margin: 7% auto;
    width: 700px;
    height: 580px;
    display: flex;
    box-shadow:2px 15px 13px rgba(180, 177, 177, 0.6);
    /* border: 1px solid black; */
}
.Signup-form div img {
    width: auto;
    height: 580px;
}
.Signup-form .div-2{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Signup-form label {
    margin-bottom: 5px;
  }
  
  .Signup-form .div-2 input[type="email"],
  .Signup-form .div-2 input[type="text"],
  .Signup-form .div-2 input[type="password"] {
    width: 90%;
    margin-bottom: 20px;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .Signup-form .div-2 .submitbtn{
    width: 90%;
    height: 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .Signup-form button:hover {
    background-color: #3e8e41;
  }
  .Signup-form .div-2 a{
    color: #3e8e41;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  /* .login-form .div-2 div::before {
    content: "";
    width: 20px;
    height: 20px;
    border-bottom:black;
    margin-right: 5px;
  }
   */
   .Signup-form .div-2 .or {
    margin-left: 45%;
    position: relative;
    margin-top: 12px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
   }
   
   .Signup-form .div-2 .or span {
    line-height: 1;
    color: #767676;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
  }
  .Signup-form .div-2 h1{
    margin-top: 20px;
  }
  .Signup-form .div-2 .or::after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-left: -75px;
    z-index: 1;
  }

  .Signup-form .div-2 .signupbtn{
    width: 90%;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:transparent;
    color: #564f4f;
    box-shadow:2px 1px 3px rgba(180, 177, 177, 0.6);
    cursor: pointer;
  }
  .Signup-form{
    width: 90%;
  }