.card{
    width: 270px;
    height: 500px;
    background: #49a0e30f;
    border-radius:  8px;
    overflow: hidden;
    margin: 5px;
}
.card .cart-2{
    margin-top: 10px;
    padding: 5px;
}
.card .cart-2 h3{
    padding: 0;
    margin: -12px 0 0 0;
}
.card .cart-2 h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.card .cart-1 div:nth-child(1){
    height: 270px;
}
.card .cart-1 div:nth-child(1) img{
    height: 270px;
    cursor: pointer;
}
.card .rating-colletion{
    border-radius: 30px;
    display: flex;
    z-index: 1;
    width: fit-content;
    height: 15px;
    margin-top: -40px;
    margin-left:  55%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    position: relative;
    padding: 5px;
    border: 1px solid rgba(2, 68, 85, .4);
    background-color: #000;
    color: #fff;
}
.card .rating-colletion img{
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}
.rating-colletion  span{
    padding: 0 5px;
}

.rating-colletion .star-rating{
    padding: 0 5px;
    border-right:2px solid white;
}

.cart-1 .card-Quantity{
    width: fit-content;
    margin-top: 20px;
    font-size: 11px;
    border-radius: 12px;
    padding: 5px 8px 4px;
    line-height: 1.1;
    letter-spacing: 2px;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.card .cart-price{
    padding:0px;
    width: 92.5%;
    letter-spacing: 1px;
    font-weight: 500;
}
.card .cart-price span {
    font-size: 10px;
    text-decoration: line-through;
}

.card .cart-Weight{
    margin-top: 15px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
}
.card .addtocart , .buyitnow{
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    color: white;
    background: #000;
    border: none;
    border-radius: 2px;
}
.card .addtocart:hover , .buyitnow:hover{
    background: darkblue;
}
