
.cart-product-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
    height: 125px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.cart-product-card img{
    width: 100px;
}
.cart-product-card h3 span{
    font-size: 12px;
    text-decoration: line-through;
}
.cart-product-card h2:hover{
    text-decoration:underline;
}
.cart-product-card .rating-colletion{
    border-radius: 30px;
    display: flex;
    z-index: 1;
    width: fit-content;
    height: 15px;
    /* margin-top: -40px; */
    /* margin-left:  55%; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    position: relative;
    padding: 5px;
    border: 1px solid rgba(2, 68, 85, .4);
    background-color: #679f37d6;
    color: #fff;
}
.cart-product-card .rating-colletion img{
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}
.cart-product-card .rating-colletion  span{
    padding: 0 5px;
}

.cart-product-card .rating-colletion .star-rating{
    padding: 0 5px;
    border-right:2px solid white;
}

.Pack-of {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    gap: 12px;
    border: 2px solid black;
    border-radius: 3px;
}
.Pack-of > div:nth-child(1) img {
    width: 20px;
}
.Pack-of  input{
    width: 20px;
    text-align: center;
    font-size: large;
    border: none;
    outline: none;
}
.Pack-of > div{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.Pack-of > div:hover{
    user-select: none;
    color: #0064b1;
}